.image {
	margin-top: -150px;
	width: 50%;
	position: absolute;
}

.imageContainer {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: white;
	overflow: hidden;
}

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

.instructions {
	font-size: 50px;
	text-align: center;
	z-index: 100;
	position: relative;
}

.bongoGif {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	overflow: auto;
}
