.image {
	margin-top: -150px;
	width: 50%;
	position: absolute;
}

.imageContainer {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.danceBody {
	background-color: white;
	overflow: hidden;
}

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

.instructions {
	font-size: 50px;
	text-align: center;
	z-index: 100;
	position: relative;
}